<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: head">
    <title id="pageTitle">Overview</title>
</head>

<head>
    <script src="/js/tableToggle.js"></script>
    <script src="/js/loadOverviewTables.js"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid content">
    <div th:replace="fragments/pageMessages :: error"></div>
    <div th:replace="fragments/pageMessages :: success"></div>
    <div th:with="admin=${true}" th:include="fragments/submissionOverview :: switches"></div>

    <input type="hidden" id="ticketSystemBase" th:value="${ticketSystemBase}"/>

    <div class="row" th:each="type : ${types}">
        <div class="col" style="display: none;">
            <h4 th:text="#{overview.headerParam(${type.toLowerCase()})}"></h4>
            <table th:id="'meta-table-' + ${type.toLowerCase()}" class="table table-striped table-sm tblnavigate">
                <thead class="thead-blue">
                <tr>
                    <th th:text="#{overview.submission}"></th>
                    <th th:text="#{overview.projects}"></th>
                    <th th:text="#{overview.ticket}"></th>
                    <th th:text="#{overview.submissionDate}"></th>
                    <th th:text="#{overview.dataAvailabilityDate}"></th>
                    <th th:text="#{overview.edited}"></th>
                    <th th:text="#{overview.final}"></th>
                    <th th:text="#{overview.status}" class="text-center"></th>
                    <th></th>
                    <th th:text="#{overview.jobStatus}" class="text-center"></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr class="spinner-border" role="status"><td></td></tr>
                    <tr class="blank_row" hidden>
                        <td>
                            <a href="SUBMISSION_LINK" target="_blank">SUBMISSION_TEXT</a>
                        </td>
                        <td>PROJECT</td>
                        <td>
                            <a href="TICKET_URL" target="_blank">#TICKET_NUMBER</a>
                            <i class="far fa-edit cursor-pointer" data-toggle="modal" data-target="#changeSubmissionTicketNumber"
                               onclick="changeSubmissionTicketNumber('SUBMISSION_ID','TICKET_NUMBER');"></i>
                        </td>
                        <td>IMPORT_DATE</td>
                        <td>RECEIVED
                            <i class="far fa-edit cursor-pointer" data-toggle="modal" data-target="#changeSequencingDataReceived"
                               onclick="changeSequencingDataReceived('SUBMISSION_ID', 'EXTERNAL_DATA_AVAILABLE_FOR_MERGING');"></i>
                        </td>
                        <td>EDITOR</td>
                        <td>FINALLY</td>
                        <td class="text-center">STATE</td>
                        <td>
                            <i class="fas fa-pause cursor-pointer" data-toggle="modal" data-target="#changeOnHoldState"
                               th:title="#{details.putOnHold}" onclick="changeSubmissionOnHold('SUBMISSION_ID', 'ON_HOLD_COMMENT');"></i>
                        </td>
                        <td class="text-center">CLUSTER_JOB</td>
                        <td>
                            <a th:href="@{/metadata-validator/submission-actions/deleteSubmission(identifier=SUBMISSION_ID)}"
                               target="_blank" onclick="return confirm_submission_deletion('SUBMISSION_ID',);">
                                <i class="far fa-trash-can text-danger"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<div th:replace="fragments/changeObjectLive :: changeSubmissionTicketNumber"></div>
<div th:replace="fragments/changeObjectLive :: changeSequencingDataReceived"></div>
<div th:replace="fragments/changeObjectLive :: changeOnHoldState"></div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>

