<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: head">
    <title id="pageTitle">Extended Read only</title>
</head>
<head>
    <script src="/js/dropdownManipulation/columnsDecider.js"></script>
    <script src="/js/downloadReadOnlyTable.js"></script>
    <script src="/js/dynamicInputs.js"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>


<div class="container-fluid pb-2">
    <div th:replace="fragments/pageMessages :: warning"></div>
    <div th:replace="fragments/pageMessages :: info"></div>
    <div th:replace="fragments/pageMessages :: error"></div>

    <div th:replace="fragments/metadataValidator/readOnlyElements :: feedback"></div>

    <div th:replace="fragments/metadataValidator/readOnlyElements :: header"></div>

    <div th:replace="fragments/metadataValidator/readOnlyElements :: summary"></div>

    <div th:replace="fragments/metadataValidator/readOnlyElements :: merging"></div>

    <div class="btn-group flex-wrap mb-2">
        <button id="hideSample" class="btn btn-outline-dark" onclick="hideSampleColumn('.h-sample', '#hideSample')">
            <i class="fas fa-eye-slash button-icon"></i>
            <span th:text="#{csvImport.hideSample}"></span>
        </button>
        <button id="hideTSample" class="btn btn-outline-dark" onclick="hideSampleColumn('.h-tSample', '#hideTSample')">
            <i class="fas fa-eye-slash button-icon"></i>
            <span th:text="#{csvImport.hideTSample}"></span>
        </button>
        <button class="btn btn-outline-secondary" type="button" onclick="export_table_as_csv('meta-table');"><span>CSV</span></button>
        <button class="btn btn-outline-secondary" type="button" onclick="export_table_as_csv('meta-table', '\t', 'tsv');"><span>TSV</span></button>
    </div>

    <div class="table-responsive">
        <table id="meta-table" class="table table-sm table-striped-columns table-multiline">
            <thead class="thead-blue">
                <tr class="samplesTable sample-header-row">
                    <th class="pr-0 ignore-export"></th>
                    <th th:text="#{sampleIdentifier}"></th>
                    <th th:text="#{parseIdentifier}"></th>
                    <th th:text="#{file}"></th>
                    <th th:text="#{md5}"></th>
                    <th th:text="#{readNumber}"></th>
                    <!--<th class="table-sep h-sample"></th>-->
                    <th th:if="${admin}" th:text="#{importIdentifier}"></th>
                    <th class="h-tSample" th:text="#{baseCount}"></th>
                    <th class="h-tSample" th:text="#{cycleCount}"></th>
                    <th class="h-tSample" th:text="#{readCount}"></th>
                    <th th:replace="fragments/metadataValidator/simple/tableFragments :: readOnlyTableHeader"></th>
                    <!--<th class="table-sep h-tSample"></th>-->
                    <th class="h-tSample" th:text="#{index}"></th>
                    <th class="h-tSample" th:text="#{ilseNumber}"></th>
                    <th class="h-tSample" th:text="#{center}"></th>
                    <th class="h-tSample" th:text="#{runId}"></th>
                    <th class="h-tSample" th:text="#{runDate}"></th>
                    <th class="h-tSample" th:text="#{laneNumber}"></th>
                    <th class="h-tSample" th:text="#{instrumentModelSequencingKit}"></th>
                    <th class="h-tSample" th:text="#{fastqGenerator}"></th>
                    <th th:text="#{comment}"></th>
                    <th th:if="${showAdditionalHeaders}" th:each="header : ${additionalHeaders}" th:text="${header}"></th>
                </tr>
            </thead>

            <tbody th:if="${samples.empty}">
                <tr>
                    <td colspan="2" th:text="#{noSamples}"></td>
                </tr>
            </tbody>

            <tbody th:each="sampleGroup : ${samples}">
                <th:block th:each="sampleMapElement : ${sampleGroup.value}" th:with="sample=${sampleMapElement.key}">
                    <!--/*@thymesVar id="sample" type="de.dkfz.odcf.guide.entity.submissionData.Sample"*/-->
                    <tr class="align-middle samplesTable sample-data-row" th:each="file, index: ${sampleMapElement.value}"  th:classappend="${sample.mergeSample} ? 'text-blue' : ''">
                        <!--/*@thymesVar id="file" type="de.dkfz.odcf.guide.entity.submissionData.File"*/-->
                        <td class="fixed-col merge-col merge-col-first p-0 ignore-export" th:classappend="${sampleGroup.value.size > 1} ? 'merge-col-warning' : ''"></td>
                        <td class="align-middle"
                            th:classappend="${index.index == 0} ? 'sample-name-visible' : ''">
                            <span th:text="${sample.name}"  th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                        </td>
                        <td class="align-middle">
                            <span th:text="${sample.parseIdentifier}"  th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                        </td>
                        <td>
                            <span th:classappend="${file.readable == false ? 'text-danger' : ''}" th:text="${file.fileName}"></span>
                            <i th:if="${file.readable}" class="fa-solid fa-file-circle-check text-success"></i>
                            <i th:if="${file.readable == false}" class="fa-solid fa-file-circle-exclamation text-danger" title="We can not find or access this file"></i>
                        </td>
                        <td><span th:text="${file.md5}"></span></td>
                        <td><span th:text="${file.readNumber}"></span></td>

                        <!--<td class="table-sep h-sample"></td>-->

                        <td th:if="${admin}" class="text-muted align-middle" >
                            <span th:text="${sample.importIdentifier}"></span>
                        </td>
                        <td class="h-tSample align-middle">
                            <span th:text="${file.baseCount}"></span>
                        </td>
                        <td class="h-tSample align-middle">
                            <span th:text="${file.cycleCount}"></span>
                        </td>
                        <td class="h-tSample align-middle">
                            <span th:text="${sample.technicalSample?.readCount}" th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                        </td>
                        <td class="h-sample align-middle">
                            <span th:text="${sample.project}" th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                        </td>
                        <td class="h-sample align-middle"
                            th:classappend="${sampleGroup.value.size > 1} ? 'merge-col-warning' : ''"
                            th:with="nearlySamePid=${nearlyIdenticalPid.get(sample.pid)}">
                            <span th:text="${sample.pid}" th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                            <th:block th:if="${nearlySamePid != null && index.index < 1}">
                                <br>
                                <i th:classappend="|text-${nearlySamePid.first}|" class="fa-solid fa-triangle-exclamation"></i>
                                <span class="text-secondary" th:text="#{|readonly.pidPrefix.${nearlySamePid.first}|}"></span>
                                <span class="text-secondary" th:text="${nearlySamePid.second}"></span>
                            </th:block>
                        </td>

                        <td class="h-sample align-middle"
                            th:classappend="${sampleGroup.value.size > 1} ? 'merge-col-warning' : ''">
                            <span th:text="${sample.sampleTypeReflectingXenograft}" th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                        </td>
                        <td class="h-sample align-middle">
                            <span th:text="${sample.xenograftDisplayText}" th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                        </td>
                        <td class="h-sample align-middle" th:if="${showSampleTypeCategory}">
                            <span th:text="${sample.sampleTypeCategory}" th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                        </td>
                        <td class="h-sample align-middle">
                        <th:block th:with="style=${index.index == 1 ? 'visibility: hidden;' : ''}, speciesList=${#strings.arraySplit(sample.speciesWithStrain,'+')}">
                            <th:block th:each="species, speciesIndex : ${speciesList}">
                                <span th:if="${speciesIndex.index > 0}" th:style="${style}">+</span>
                                <span th:text="${species}" th:style="${style}"></span>
                                <i th:if="${usedRequestedValues['speciesWithStrain']?.contains(species)}" class="fas fa-hourglass-half" title="Approval pending" th:style="${style}"></i>
                            </th:block>
                        </th:block>
                        </td>
                        <td class="h-sample align-middle">
                            <span th:text="${sample.sex}" th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                        </td>
                        <td class="h-sample align-middle">
                            <span th:text="${sample.phenotype}" th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                        </td>
                        <td class="h-sample align-middle">
                            <span th:text="${sample.libraryLayout}" th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                        </td>
                        <td class="h-sample align-middle" th:classappend="${sampleGroup.value.size > 1} ? 'merge-col-warning' : ''">
                            <th:block th:with="style=${index.index == 1 ? 'visibility: hidden;' : ''}">
                                <span th:text="${sample.seqType?.getExtendedSeqTypeString()}" th:style="${style}"></span>
                                <i th:if="${usedRequestedValues['seqType']?.contains(sample.seqType?.toString())}" class="fas fa-hourglass-half" title="Approval pending" th:style="${style}"></i>
                            </th:block>
                        </td>
                        <td class="h-sample align-middle" th:if="${showLowCoverageRequested}">
                            <span th:text="${sample.lowCoverageRequested}" th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                        </td>
                        <td class="h-sample align-middle" th:if="${showTagmentationLib}">
                            <span th:text="${sample.tagmentationLibrary}" th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                        </td>
                        <td class="h-sample align-middle" th:if="${showAntibody}" th:classappend="${sampleGroup.value.size > 1} ? 'merge-col-warning' : ''">
                        <th:block th:with="style=${index.index == 1 ? 'visibility: hidden;' : ''}">
                            <span th:text="${sample.antibodyTarget}" th:style="${style}"></span>
                            <i th:if="${usedRequestedValues['antibodyTarget']?.contains(sample.antibodyTarget)}" class="fas fa-hourglass-half" title="Approval pending" th:style="${style}"></i>
                        </th:block>
                        </td>
                        <td class="h-sample align-middle" th:if="${showAntibody}">
                            <span th:text="${sample.antibody}" th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                        </td>
                        <td class="h-sample align-middle" th:unless="${hasSubmissionTypeSamples}">
                            <span th:text="${sample.libraryPreparationKit}" th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                            <small class="text-muted align-text-top"
                                   th:with="adapterSequence=${libPrepKitAdapterSequence.get(sample.libraryPreparationKit)}"
                                   th:text="${adapterSequence?.second}" th:title="${adapterSequence?.first}"
                                   th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></small>
                            <i th:if="${usedRequestedValues['libraryPreparationKit']?.contains(sample.libraryPreparationKit)}" class="fas fa-hourglass-half" title="Approval pending" th:style="${style}"></i>
                        </td>
                        <td class="h-sample align-middle" th:unless="${hasSubmissionTypeSamples}">
                            <span th:text="${sample.indexType}" th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                        </td>
                        <td class="h-sample align-middle" th:if="${showSingleCellWellLabel}"
                            th:classappend="${sampleGroup.value.size > 1} ? 'merge-col-warning' : ''">
                            <span th:text="${sample.singleCellWellLabel}" th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                        </td>

                        <!--<td class="table-sep h-tSample"></td>-->

                        <td class="h-tSample align-middle">
                            <span th:text="${sample.technicalSample?.barcode}" th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                        </td>
                        <td class="h-tSample align-middle">
                            <span th:text="${sample.technicalSample?.externalSubmissionId}" th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                        </td>
                        <td class="h-tSample align-middle">
                        <th:block th:with="style=${index.index == 1 ? 'visibility: hidden;' : ''}">
                            <span th:text="${sample.technicalSample?.center}" th:style="${style}"></span>
                            <i th:if="${usedRequestedValues['center']?.contains(sample.technicalSample?.center)}" class="fas fa-hourglass-half" title="Approval pending" th:style="${style}"></i>
                        </th:block>
                        </td>
                        <td class="h-tSample align-middle">
                            <span th:text="${sample.technicalSample?.runId}" th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                        </td>
                        <td class="h-tSample align-middle">
                            <span th:text="${sample.technicalSample?.runDate}" th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                        </td>
                        <td class="h-tSample align-middle">
                            <span th:text="${sample.technicalSample?.lane}" th:style="${index.index == 1} ? 'visibility: hidden;' : '' "></span>
                        </td>
                        <td class="h-tSample align-middle">
                        <th:block th:with="style=${index.index == 1 ? 'visibility: hidden;' : ''}">
                            <span th:text="${sample.technicalSample?.instrumentModelWithSequencingKit}" th:style="${style}"></span>
                            <i th:if="${usedRequestedValues['instrumentModelWithSequencingKit']?.contains(sample.technicalSample?.instrumentModelWithSequencingKit)}" class="fas fa-hourglass-half" title="Approval pending" th:style="${style}"></i>
                        </th:block>
                        </td>
                        <td class="h-tSample align-middle">
                        <th:block th:with="style=${index.index == 1 ? 'visibility: hidden;' : ''}">
                            <span th:text="${sample.technicalSample?.pipelineVersion}" th:style="${style}"></span>
                            <i th:if="${usedRequestedValues['pipelineVersion']?.contains(sample.technicalSample?.pipelineVersion)}" class="fas fa-hourglass-half" title="Approval pending" th:style="${style}"></i>
                        </th:block>
                        </td>
                        <td class="align-middle">
                            <span th:text="${sample.comment}" th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                        </td>
                        <td class="align-middle" th:if="${showAdditionalHeaders}" th:each="header : ${additionalHeaders}">
                            <span th:text="${sample.unknownValues?.get(header) ?: ''}" th:style="${index.index == 1} ? 'visibility: hidden;' : ''"></span>
                        </td>
                    </tr>
                </th:block>
                <tr>
                    <td class="fixed-col merge-col merge-col-first p-0 ignore-export" th:classappend="${sampleGroup.value.size > 1} ? 'merge-col-warning' : ''"></td>
                    <td class="merge-col" colspan="99" th:classappend="${sampleGroup.value.size > 1} ? 'merge-col-warning' : ''">
                        <small>
                            <span th:text="#{readonly.expectedPath}"></span>
                            <span class="font-italic text-muted" th:text="${sampleGroup.key}"></span>
                        </small>
                    </td>
                </tr>
                <tr>
                    <td class="bg-white border-0" colspan="99"></td>
                </tr>
        </table>
    </div>

    <div th:replace="fragments/metadataValidator/readOnlyElements :: userButtons"></div>

    <div th:replace="fragments/metadataValidator/readOnlyElements :: adminButtons"></div>
</div>

<div th:replace="fragments/metadataValidator/readOnlyElements :: fileButtons"></div>

<div th:if="${showFeedback}" th:with="submission=${submission}" th:include="fragments/feedback :: feedback"></div>
<div th:replace="fragments/footer :: footer"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    if(/*[[${showFeedback}]]*/ 'false') {
        $('#feedbackModal').modal('show');
    }
    /*]]>*/
</script>

</body>
</html>
