<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: head">
    <title id="pageTitle">[[#{upload.header}]]</title>
</head>
<head>
    <script src="/js/tableToggle.js"></script>
    <script src="/js/loadOverviewTables.js"></script>
</head>


<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid mb-5">
    <div th:replace="fragments/pageMessages :: error"></div>
    <div th:replace="fragments/pageMessages :: success"></div>

    <!-- alert while testing phase. Will be deleted after a while -->
    <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
        This feature is in the public beta. Unexpected errors can still occur, so we would be happy to receive feedback.<br>
        We also currently recommend that you <strong>do not upload</strong> submissions <strong> with over 100 samples.</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="mt-5">
        <div class="accordion" id="accordionOverview">
            <div class="card">
                <div class="card-header text-center text-dark" id="infoCard"
                     data-toggle="collapse" data-target="#collapseInfo"
                     aria-expanded="true" aria-controls="collapseInfo">
                    <h5 class="mb-0 text-blue" th:text="#{overview.information}"></h5>
                </div>
                <div id="collapseInfo" class="collapse show" aria-labelledby="infoCard">
                    <div class="card-body" th:utext="#{overview.informationText}"></div>
                </div>
            </div>

            <div class="card">
                <div class="card-header text-center text-dark collapsed" id="uploadCard"
                     data-toggle="collapse" data-target="#collapseUpload"
                     aria-expanded="false" aria-controls="collapseUpload">
                    <h5 class="mb-0 text-blue" th:text="#{overview.upload}"></h5>
                </div>
                <div id="collapseUpload" class="collapse" aria-labelledby="uploadCard">
                    <div class="card-body">
                        <div class="mb-4 text-justify" th:utext="#{upload.infoText}"></div>
                        <form action="/importer/upload" method="post" enctype="multipart/form-data">

                            <div th:if="${duplicatedMd5}">
                                <strong th:text="#{upload.similarityText}"></strong>
                                <ul class="list-unstyled mt-1">
                                    <li th:each="submission : ${submissions}" class="pl-3">
                                        <input th:id="|checkbox_${submission.identifier}|" type="checkbox" th:value="${submission.identifier}" name="submissions"/>
                                        <label th:for="|checkbox_${submission.identifier}|">
                                            <a th:href="@{/metadata-validator/submission/simple/user(uuid=${submission.uuid})}" target="_blank"
                                               th:text="|${submission.identifier} [${submission.samples.size()} samples] (${submission.submitter?.fullName})|">
                                            </a>
                                            contains <span th:text="${countMd5InSubmissions.get(submission)}"></span> md5 sums that were also found in this upload.
                                        </label>
                                    </li>
                                </ul>
                            </div>

                            <div class="form-group">
                                <label for="customName" th:text="#{overview.changeSubmissionName}"></label>
                                <input type="text" class="form-control" name="customName" id="customName" value="" autocomplete="off"/>
                            </div>

                            <div class="form-group">
                                <label for="comment" th:text="#{overview.changeSubmissionComment}"></label>
                                <input type="text" class="form-control" name="comment" id="comment" value="" autocomplete="off"/>
                            </div>

                            <div class="custom-file mb-3">
                                <label class="custom-file-label" for="tsvFileUpload" th:text="#{upload.csv}"></label>
                                <input type="file" class="custom-file-input" name="file" id="tsvFileUpload"
                                       onchange="changeFileInputLabel($(this))" required/>
                            </div>

                            <div th:unless="${duplicatedMd5}">
                                <button type="submit" class="btn btn-primary" th:text="#{upload}"></button>
                            </div>
                            <div th:if="${duplicatedMd5}">
                                <a type="button" href="/metadata-validator/overview/uploaded" class="btn btn-secondary">Cancel</a>
                                <input type="submit" name="button" class="btn btn-primary" value="Continue">
                                <input type="submit" name="button" class="btn btn-primary" value="Continue and delete selected">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header text-center" id="overviewCard"
                     data-toggle="collapse" data-target="#collapseOverview"
                     aria-expanded="true" aria-controls="collapseOverview">
                    <h5 class="mb-0 text-blue" th:text="#{overview.header}"></h5>
                </div>
                <div id="collapseOverview" class="collapse show" aria-labelledby="overviewCard">
                    <div class="card-body">
                        <div class="row pl-3">
                            <div th:with="admin=${false}" th:include="fragments/submissionOverview :: switches"></div>
                        </div>

                        <h2 th:text="#{overview.header}"></h2>
                        <div class="row" th:each="type : ${types}">
                            <div th:id="'table' + ${type} + 'Submissions'" class="col">
                                <h4 th:text="#{overview.headerParam(${type.toLowerCase()})}"></h4>
                                <table th:id="'meta-table-' + ${type.toLowerCase()}" class="table table-striped table-sm tblnavigate">
                                    <thead class="thead-blue">
                                        <tr>
                                            <th th:text="#{overview.submission}"></th>
                                            <th th:text="#{overview.customName}"></th>
                                            <th th:text="#{overview.projects}"></th>
                                            <th th:text="#{overview.submissionDate}"></th>
                                            <th th:text="#{overview.status}"></th>
                                            <th th:text="#{overview.submissionComment}"></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="spinner-border" role="status"><td></td></tr>
                                        <tr class="blank_row" hidden>
                                            <td>
                                                <a href="SUBMISSION_LINK" target="_blank">SUBMISSION_TEXT</a>
                                            </td>
                                            <td>CUSTOM_NAME
                                                <i class="far fa-edit cursor-pointer" data-toggle="modal" data-target="#changeSubmissionNameAndComment"
                                                   onclick="changeSubmissionNameAndComment('SUBMISSION_ID','CUSTOM_NAME', 'SUBMISSION_COMMENT');"></i>
                                            </td>
                                            <td>PROJECT</td>
                                            <td>IMPORT_DATE</td>
                                            <td>STATE</td>
                                            <td>SUBMISSION_COMMENT
                                                <i class="far fa-edit cursor-pointer" data-toggle="modal" data-target="#changeSubmissionNameAndComment"
                                                   onclick="changeSubmissionNameAndComment('SUBMISSION_ID','CUSTOM_NAME', 'SUBMISSION_COMMENT');"></i>
                                            </td>
                                            <td class="text-right pr-2">
                                                <a th:href="@{/metadata-validator/submission-actions/deleteSubmission(identifier=SUBMISSION_ID)}"
                                                   onclick="return confirm_submission_deletion('SUBMISSION_ID',);">
                                                    <i class="far fa-trash-can text-danger"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/changeObjectLive :: changeSubmissionTicketNumber"></div>
    <div th:replace="fragments/changeObjectLive :: changeSubmissionNameAndComment"></div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    if(/*[[${duplicatedMd5}]]*/ 'false') {
        document.getElementById('collapseUpload').classList.add('show');
        document.getElementById('uploadCard').classList.remove('collapsed');
        document.getElementById('collapseInfo').classList.remove('show');
        document.getElementById('infoCard').classList.add('collapsed');
    }
    /*]]>*/
</script>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
