<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: head">
    <title id="pageTitle">Imprint</title>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="body-content">
    <div class="image-container text-center">
        <img src="images/logo-guide.png" alt="logo"/>
    </div>

    <div class="text-container">
        <h1 class="text-kapitaelchen text-blue">Imprint</h1>
        <p>
            This web site is hosted by:
            <!-- TODO -->
        </p>
        <p>
            <b class="text-kapitaelchen text-blue">Address</b><br>
            <!-- TODO -->
        </p>
        <p>
            <b class="text-kapitaelchen text-blue">Legal Form</b><br>
            <!-- TODO -->
        </p>
        <p>
            <b class="text-kapitaelchen text-blue">Persons authorised to represent</b><br>
            <!-- TODO -->
        </p>
        <p>
            <b class="text-kapitaelchen text-blue">Copyright</b><br>
            The layout and graphics used and any other contents are protected by copyright law.<br>
            © Deutsches Krebsforschungszentrum DKFZ. All rights reserved.
        </p>
        <p>
            <b class="text-kapitaelchen text-blue">Disclaimer</b><br>
            <!-- TODO -->
        </p>
        <p>
            <b class="text-kapitaelchen text-blue">Data Protection Provisions</b><br>
            <!-- TODO -->
        </p>
    </div>
    <br>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
