<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: head">
    <title id="pageTitle">ODCF</title>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="text-container">
    <h1 class="text-kapitaelchen text-blue">Privacy Policy</h1>

    <ul class="list-unstyled">
        <li><a href="#p1">Name and address</a></li>
        <li><a href="#p2">Name and address of the Data Protection Officer</a></li>
        <li><a href="#p3">General information on data processing</a></li>
        <li><a href="#p4">Provision of the Website and creation of log files</a></li>
        <li><a href="#p5">Usage of cookies</a></li>
        <li><a href="#p6">Contact form and email contact</a></li>
        <li><a href="#p7">Rechte der betroffenen Person</a></li>
    </ul>


    <h2 class="mt-5 text-kapitaelchen text-blue"><a id="p1">Name and address</a></h2>
    <p>The controller within the meaning of the General Data Protection Regulation (GDPR) and other national data protection laws of the Member States of the European Union as well as other data protection regulations is: </p>
    <p><!-- TODO --></p>


    <h2 class="mt-5 text-kapitaelchen text-blue"><a id="p2">Name and address of the Data Protection Officer</a></h2>
    <p><!-- TODO --></p>

    <h2 class="mt-5 text-kapitaelchen text-blue"><a id="p3">General information on data processing</a></h2>
    <h5 class="mt-4">1. Extent of processing of personal data</h5>
    <p>We only process the personal data of our users insofar as it is necessary to ensure the functions of the website or our content and services. We only process the personal data of our users after they have given their consent. Data may be collected in exceptional cases in which prior consent is not possible for practical reasons or the data processing is permitted by legal regulations.</p>

    <h5 class="mt-4">2. Legal basis for the processing of personal data</h5>
    <p>Insofar as we receive a data subject’s consent for the processing of personal data, Article 6 (1) lit. a) GDPR serves as the legal basis.</p>
    <p>For the processing of personal data that is necessary for the performance of a contract concluded with the data subject, this is done as pursuant to Article 6 (1) lit. b) GDPR. This also applies to data processing operations that are necessary prior to entering into a contract.</p>
    <p>Insofar as the processing of personal data is required to fulfil a legal obligation to which our company is subject, this is done in accordance with Article 6 (1) lit. c) GDPR.</p>
    <p>In the event that the processing of personal data is necessary to protect the vital interests of the data subject or of another natural person, Article 6 (1) lit. d) GDPR serves as the legal basis.</p>
    <p>If the processing is required for the purposes of legitimate interests on the part of our company or a third party and the interests, fundamental rights and freedoms of the data subject do not override the former’s interests, this is carried out according to Article 6 (1) lit. f) GDPR.</p>

    <h5 class="mt-4">3. Erasure of data and retention duration</h5>
    <p>The personal data of the data subject will be deleted or blocked as soon as the intended purpose of the processing is no longer valid. In addition, data may be stored if the processing of said data is provided for by European or German legislation or by regulations, laws or other directives that are compatible with the rules of the European Union. A blocking or erasure of data is also carried out when a retention deadline prescribed by the aforementioned standards expires, unless the further storage of the data is required for the conclusion or the performance of a contract.</p>


    <h2 class="mt-5 text-kapitaelchen text-blue"><a id="p4">Provision of the Website and creation of log files</a></h2>
    <h5 class="mt-4">1. Description and scope of data processing</h5>
    <p>Each time our Website is accessed, our system automatically records data and information from the system of the computer that accesses the site.</p>
    <p>The following data are collected:</p>
    <ol>
        <li>Information on the type and version of the browser being used</li>
        <li>The user’s operating system</li>
        <li>The user’s internet service provider</li>
        <li>The user’s IP address</li>
        <li>Time and date of retrieval</li>
        <li>Websites from which the user’s system accesses our Website</li>
    </ol>

    <h5 class="mt-4">2. Legal basis for data processing</h5>
    <p>The legal basis for the temporary storage of data and log files is Article 6 (1) lit. f) GDPR.</p>

    <h5 class="mt-4">3. Purpose of data processing</h5>
    <p>The temporary storage of the IP address on the system is necessary to ensure the delivery of the site to the user’s computer. For this purpose, the user’s IP address must be stored for the duration of the session. </p>
    <p>The data are stored in log files to ensure the functionality of the website. In addition, the data also serve to ensure the security of our IT systems. The data are not analyzed for marketing purposes.</p>
    <p>The purposes also include our legitimate interest in data processing as pursuant to Article 6 (1) lit. f) GDPR.</p>

    <h5 class="mt-4">4. Duration of storage</h5>
    <p>The data will be deleted when they are no longer necessary for the intended purpose for which they have been collected. In the event that data are collected for the provision of the Website, they are deleted as soon as the session is completed. </p>
    <p>In the event that data are stored in log files, they are deleted no later than seven days afterwards. The data may be stored for a longer time. In this case, the user’s IP addresses are deleted or modified so that the client retrieving the Website can not be identified.</p>

    <h5 class="mt-4">5. Options for objection and removal</h5>
    <p>Data must be collected to ensure the functioning of the site and they must be stored in log files for the operation of the website. Consequently, the user is not granted a right to object in this case.</p>


    <h2 class="mt-5 text-kapitaelchen text-blue"><a id="p5">Usage of cookies</a></h2>
    <h5 class="mt-4">1. Description and scope of data processing</h5>
    <p>Our website uses cookies. Cookies are text files that are placed in or by the internet browser on the user’s computer system. If a user accesses a site, a cookie may be placed on the user’s operating system. This cookie contains a characteristic string that allows for the clear identification of the browser for any subsequent visits to the Website. </p>
    <p>We place cookies to ensure our site is user-friendly. Some elements of our website call for the browser to be identified even after switching pages.</p>

    <h5 class="mt-4">2. Legal basis for data processing</h5>
    <p>The legal basis for the processing of personal data with the use of cookies is Article 6 (1) lit. f) GDPR.</p>

    <h5 class="mt-4">3. Purpose of data processing</h5>
    <p>The purpose of using technically necessary cookies is to simplify the use of websites for the user. Some features of our Website cannot be used without the placement of cookies. For this, it is necessary for the browser to be recognized even after switching pages. </p>

    <h5 class="mt-4">4. Duration of storage, options for objection and removal</h5>
    <p>Cookies are stored on the user’s computer and transmitted from the computer to our Website. Therefore, you as a user have full control of the placement of cookies. By changing the settings in your internet browser, you can disable or restrict the transmission of cookies. Previously placed cookies can be deleted at any time. This can be also done automatically. If cookies are disabled for our Website, potentially not all features of the Website may be used fully.</p>

    <h2 class="mt-5 text-kapitaelchen text-blue"><a id="p6">Contact form and email contact</a></h2>
    <h5 class="mt-4">1. Description and scope of data processing</h5>
    <p>Our Website includes contact forms for you to contact us directly. If a user makes use of this option, the data entered into the input field are transmitted to us and stored. These are: </p>
    <ol>
        <li>Last name</li>
        <li>First name</li>
        <li>Email address</li>
    </ol>
    <p>At the time the message is sent, the following data are also stored:</p>
    <ol>
        <li>Time and date of registration</li>
    </ol>
    <p>In order to process the data collected in conjunction with submitting the contact form, you must give your consent and you will be referred to this privacy policy.</p>
    <p>Alternatively, it is possible to contact us via the email address provided. In this case, the personal data of the user submitted with the email are stored.</p>
    <p>These data are not transferred to third parties. The data are used solely for the processing the communication.</p>

    <h5 class="mt-4">2. Legal basis for data processing</h5>
    <p>The legal basis for the data processing is the user’s consent as pursuant to Article 6 (1) lit. a) GDPR.</p>
    <p>The legal basis for the processing of the data that are sent with the transmission of the email is Article 6 (1) lit. f) GDPR. If the email contact serves to enter into a contract, then the legal basis for the processing is Article 6 (1) lit. b) GDPR.</p>

    <h5 class="mt-4">3. Purpose of data processing</h5>
    <p>The processing of personal data in the input field is done solely for processing the contact. If contact is made via email, then there is also a required legitimate interest on the processing of the data.</p>
    <p>The other personal data processed during the transmission are used to prevent misuse of the contact form and to ensure the security of our IT systems.</p>

    <h5 class="mt-4">4. Duration of storage</h5>
    <p>The data will be deleted when they are no longer necessary for the intended purpose for which they have been collected. For the personal data from the input field in the contact form and those that are sent via email, this is the case if each respective conversation with the user has been completed. The conversation is deemed to have been completed if based on circumstances it is apparent that the issue at hand has been resolved. </p>
    <p>The personal data collected during transmission are deleted after a period of seven days at the latest.</p>

    <h5 class="mt-4">5. Options for objection and removal</h5>
    <p>The user has the possibility to withdraw his consent for the processing of personal data at any time. If the user contacts us via email, then he may object to the storage of his personal data at any time. In such a case, however, the conversation cannot be continued.</p>
    <p>You can withdraw your consent with effect for the future at any time by sending an email.</p>
    <p>In this case, all personal data stored over the course of the contact will be deleted.</p>

    <h2 class="mt-5 text-kapitaelchen text-blue"><a id="p7">Rights of the data subject</a></h2>
    <p>As soon are your personal data are processed, you assume the role of the data subject as pursuant to GDPR and are therefore granted the following rights vis-à-vis the data controller:</p>

    <h5 class="mt-4">1. Right of access</h5>
    <p>You have the right to obtain from the controller confirmation as to whether or not personal data concerning you are being processed by us.
        If this is the case, you may request access to the following information from the controller: </p>
    <ol>
        <li>The purposes of the processing of personal data;</li>
        <li>The categories of personal data concerned;</li>
        <li>The recipients or categories of recipient to whom the personal data have been or will be disclosed, in particular recipients in third countries or international organizations;</li>
        <li>The envisaged period for which the personal data will be stored, or, if this is not possible, the criteria used to determine that period;</li>
        <li>The existence of the right to request from the controller rectification or erasure of personal data or restriction of processing of personal data concerning you or to object to such processing;</li>
        <li>The right to lodge a complaint with a supervisory authority;</li>
        <li>Where the personal data are not collected from the data subject, any available information as to their source;</li>
        <li>The existence of automated decision-making, including profiling, referred to in Article 22 (1) and (4) GDPR and, at least in those cases, meaningful information about the logic involved, as well as the significance and the envisaged consequences of such processing for the data subject.</li>
    </ol>
    <p>You are also entitled to the right to request information on whether your personal data are transferred to a third country or to an international organization. In this context, you have the right to be informed of the appropriate safeguards pursuant to Article 46 GDPR relating to the transfer.</p>

    <h5 class="mt-4">2. Right to rectification</h5>
    <p>You have a right to rectification and/or completion vis-à-vis the controller insofar as the processed personal data concerning you is incorrect or incomplete. The controller must make the correction without undue delay.</p>

    <h5 class="mt-4">3. Right to restriction of processing</h5>
    <p>You may request the restriction of processing of personal data concerning you under the following conditions:</p>
    <ol>
        <li>You have contested the accuracy of the personal data for a period enabling the controller to verify the accuracy of the personal data;</li>
        <li>The processing is unlawful and you oppose the erasure of the personal data and request the restriction of their use instead;</li>
        <li>The controller no longer needs the personal data for the purposes of the processing, but you require them to assert, exercise or defend legal claims; or</li>
        <li> You have objected to processing pursuant to Article 21 (1) GDPR pending the verification of whether the legitimate grounds of the controller override yours.</li>
    </ol>
    <p>Where processing of personal data concerning you has been restricted, such data shall, with the exception of storage, only be processed with your consent or for the assertion, exercise or defense of legal claims or for the protection of the rights of another natural or legal person or for reasons of important public interest of the European Union or of a Member State.</p>
    <p>Where the restriction of processing is carried out pursuant to the aforementioned conditions, you will be informed by the controller before the restriction of processing is lifted.</p>

    <h5 class="mt-4">4. Right to erasure</h5>
    <h5>a) Duty to delete</h5>
    <p>You may request the controller to have personal data concerning you deleted without undue delay, and the controller is required to delete these data without undue delay, unless one of the following reasons applies:</p>
    <ol>
        <li>The personal data concerning you are no longer required for the purposes for which they were collected or processed.</li>
        <li>You revoke your consent to data processing based on Article 6 (1) lit. a) or Article 9 (2) lit. a) GDPR and there is no other legal basis for the data processing.</li>
        <li>You object to the processing as pursuant to Article 21 (1) GDPR and there are no overriding legitimate grounds for the processing, or you object to the processing as pursuant to Article 21 (2) GDPR.</li>
        <li>The personal data concerning you have been processed unlawfully.</li>
        <li>The erasure of personal data concerning you is required to fulfil a legal obligation based on laws of the European Union or of a Member State to which the controller is subject.</li>
        <li>The personal data concerning you have been collected in relation to services offered by the information society as pursuant to Article 8 (1) GDPR.</li>
    </ol>
    <h5>b) Information transferred to third parties</h5>
    <p>If the controller makes the personal data concerning you available to the public and he is obliged to erase the data as pursuant to Article 17 (1) GDPR, he must take appropriate measures, taking into account the available technology and the cost of their implementation and technical nature, to inform the data processing controller who processes the personal data that you as the data subject have requested the erasure of all links to these personal data or copies or replication of such personal data.</p>
    <h5>c) Exceptions</h5>
    <p>The right to erasure does not apply insofar as the processing is required</p>
    <ol>
        <li>to exercise the right to freedom of expression and information;</li>
        <li>to fulfil a legal obligation that requires processing according to the laws of the European Union or its Member States to which the controller is subject, or the processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the controller.</li>
        <li>based on considerations of the public interest in the field of public health as pursuant to Article 9 (2) lit. h) and i) as well as Article 9 (3) GDPR;</li>
        <li>for archiving purposes in the public interest, scientific or historical research purposes or statistical purposes as pursuant to Article 89 (1) GDPR insofar as the right listed under a) is expected to render impossible or seriously impair the achievement of the objectives of this processing, or</li>
        <li>for the assertion, exercise or defense of legal claims.</li>
    </ol>

    <h5 class="mt-4">5. Right to be informed</h5>
    <p>If you have asserted your right to rectification, erasure or restriction pertaining to the data processing vis-à-vis the controller, he is thus obliged to inform all recipients to whom the personal data have been disclosed of this rectification or erasure of the data or the limitation of the processing, unless this proves to be impossible or involves a disproportionate effort. </p>
    <p>You are entitled to the right to be informed by the controller about these recipients.</p>

    <h5 class="mt-4">6. Right to data portability</h5>
    <p>You have the right to receive the personal data concerning you, which you have provided to a controller, in a structured, commonly used and machine-readable format. Moreover, you also have the right to transmit those data to another controller without hindrance from the controller to which the personal data have been provided insofar as</p>
    <ol>
        <li>the processing is based on a granted consent as pursuant to Article 6 (1) lit. a) GDPR or Article 9 (2) lit. a) GDPR or on a contract pursuant to Article 6 (1) lit. b) GDPR and</li>
        <li>the processing is carried out by automated means.</li>
    </ol>
    <p>In exercising this right, you also have the right to have the personal data concerning you transmitted directly from one controller to another, wherever technically feasible. This may not adversely affect the rights and freedoms of others.</p>
    <p>The right to data portability does not apply to the processing of personal data if it is required for the performance of a task carried out in the public interest or in the exercise of official authority vested in the controller.</p>

    <h5 class="mt-4">7. Right to object</h5>
    <p>You have the right to object, on grounds relating to your particular situation, at any time to processing of personal data concerning you which is based on Article 6 (1) lit. e) or f), including profiling based on those provisions. </p>
    <p>The controller shall no longer process the personal data unless he demonstrates compelling legitimate grounds for the processing which override your interests, rights and freedoms or for the assertion, exercise or defense of legal claims.</p>
    <p>Wherever personal data concerning you are processed for direct marketing purposes, you have the right to object at any time to processing of personal data concerning you for such marketing, which includes profiling to the extent that it is related to such direct marketing..</p>
    <p>If you object to processing for direct marketing purposes, the personal data concerning you may no longer be processed for such purposes.</p>
    <p>Within the context of the use of information society services, notwithstanding Directive 2002/58/EC, you may exercise your right to object by automated means using technical specifications.</p>

    <h5 class="mt-4">8. Right to revoke consent to data processing</h5>
    <p>You have the right to revoke your consent to data processing at any time. Upon revoking consent, the legality of the data processing carried out on the basis of the consent will not be affected by the revocation of consent.</p>

    <h5 class="mt-4">9. Automated decision-making, including profiling</h5>
    <p>You have the right not to be subject to a decision that is based solely on an automated processing of data, including profiling, and that may have a legal effect on you or any similarly significant restrictive effect. This does not apply if the decision</p>
    <ol>
        <li>is necessary for the conclusion or the performance of a contract between you and the controller,</li>
        <li>is permissible on the basis of legislation of the European Union or its Member States to which the controller is subject and these laws contain adequate measures to safeguard your rights and freedoms as well as your legitimate interests, or</li>
        <li>is made with your explicit consent.</li>
    </ol>
    <p>However, these decisions may not be based on special categories of personal data as pursuant to Article 9 (1) GDPR, insofar as Article 9 (2) lit. a) or g) GDPR do not apply and appropriate measures for the protection of your rights and freedoms as well as your legitimate interests have been taken.</p>
    <p>Regarding the cases referred to in (1) and (3), the controller must take appropriate measures to safeguard your rights and freedoms as well as your legitimate interests, which must include at least the right to obtaining the intervention of a person on the behalf of the controller, the right to present one’s own position and the right to contest the decision.</p>

    <h5 class="mt-4">10. Right to lodge a complaint with a supervisory authority</h5>
    <p>Notwithstanding any other administrative or judicial remedies, you also have the right to lodge a complaint with a supervisory authority, in particular in the Member State where you reside or work or where the alleged violation takes place if you believe that the processing of your personal data is in violation of GDPR.</p>
    <p>The supervisory authority to which the complaint is submitted informs the complainant on the status and the results of the complaint including the possibility of a judicial remedy as pursuant to Article 78 GDPR.</p>

    <hr>
    <br>
    <form action="#" th:action="@{/privacy-policy-accept}" method="post">
        <input type="checkbox" class="form-check-input" name="accept" id="accept" required/>
        <label for="accept">I have read and understood the data security statement and accept it</label>
        <br><br>
        <input type="submit" class="btn btn-outline-primary" value="Continue"/>
    </form>
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-outline-secondary" value="Logout"/>
    </form>
    <br>
</div>


<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/contact :: contact"></div>
</body>
</html>
