<th:block th:fragment="feedback">
    <div id="feedbackAlert" class="alert alert-info alert-dismissible mt-2" style="display: none;">
        <span id="feedbackText" th:text="#{feedback.thanks}"></span>
        <button type="button" class="close" onclick="$('#feedbackAlert').hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</th:block>

<th:block th:fragment="header">
    <h2 th:text="|Summary of submission ${identifier}|"></h2>
    <span id="identifier" th:text="${submission.identifier}" hidden></span>
</th:block>

<th:block th:fragment="merging">
    <div th:if="${!submission.finished && !submission.isPaused && merging}" class="alert alert-dismissible fade show alert-warning">
        <span th:if="${merging}" th:utext="#{readonly.merging}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</th:block>

<th:block th:fragment="summary">
    <div class="mt-2 alert alert-secondary">
        <th:block th:if="${submission.onHold}">
            <h5 th:utext="#{readonly.summary.onHold(${submission.onHoldComment})}"></h5>
            <hr>
        </th:block>

        <th:block th:if="${header}">
            <h5 th:utext="${header}"></h5>
            <hr>
        </th:block>

        <span th:text="#{readonly.summary.contains}"></span><br>
        <ul>
            <li>
                <span th:text="#{readonly.summary.projects}"></span>
                <a class="text-blue" target="_blank"
                   th:href="${otpProjectPath + project}"
                   th:each="project, stat : ${projects}"
                   th:text="!${stat.last} ? ${project} + ', ' : ${project}"></a>
            </li>
            <li>
                <span th:text="#{readonly.summary.seqTypes}"></span> <span class="text-blue" th:text="${seqTypes}"></span>
            </li>
            <li>
                <span th:text="#{readonly.summary.xenograft}"></span> <span class="text-blue" th:text="${numberOfXenograft}"></span>
            </li>
            <li th:if="${not #lists.isEmpty(antibodyTargets)}">
                <span th:text="#{readonly.summary.antibodyTargets}"></span> <span class="text-blue" th:text="${antibodyTargets}"></span>
            </li>
            <li th:if="${not #lists.isEmpty(additionalHeaders) && showAdditionalHeaders}">
                <span th:text="#{readonly.summary.additionalHeaders}"></span> <span class="text-blue" th:text="${#strings.listJoin(additionalHeaders, ', ')}"></span>
            </li>
            <li th:if="${numberOfStopped > 0}">
                <span th:text="#{readonly.summary.hiddenSamples}"></span> <span class="text-blue" th:text="${numberOfStopped}"></span>
            </li>
            <li th:if="${!submission.ownTransfer}">
                <span th:text="#{readonly.summary.withdrawn}"></span> <span class="text-blue" th:text="${numberOfWithdrawn}"></span>
            </li>

        </ul>
    </div>
</th:block>

<th:block th:fragment="userButtons">
    <div class="my-3">
        <form th:if="${submission.validated && !submission.finished && !submission.locked}" id="finalSubmitForm"
              action="#" th:action="@{/metadata-validator/submission-actions/finally}" method="post">
            <input type="hidden" name="uuid" th:value="${submission.uuid}">
            <div th:if="${merging}" class="form-check">
                <input type="checkbox" class="form-check-input" id="accept-merging" required>
                <label class="form-check-label" for="accept-merging" th:text="#{readonly.merging.checkbox}"></label>
            </div>
            <input th:if="${usedRequestedValues.isEmpty() && !detectedNearlyIdenticalPid && (allFilesReadable ?: true)}" type="submit" name="button" class="btn btn-outline-success" th:value="#{readonly.submitFinally}"/>
            <input th:unless="${usedRequestedValues.isEmpty() && !detectedNearlyIdenticalPid && (allFilesReadable ?: true)}" type="button" class="btn btn-outline-danger"
                   data-toggle="tooltip" data-placement="top" data-html="true"
                   th:value="#{readonly.submitFinally}" th:title="${!allFilesReadable} ? #{readonly.info.notAllFilesReadable} : (${detectedNearlyIdenticalPid} ? #{readonly.info.detectedNearlyIdenticalPid} : #{readonly.info.usesRequestedValues})" disabled/>
        </form>
        <form th:if="${submission.active}" action="#" th:action="@{/metadata-validator/submission/simple/user}" method="get">
            <input type="hidden" name="uuid" th:value="${submission.uuid}">
            <input type="hidden" name="backAndEdit" value="true">
            <input type="submit" name="button" class="btn btn-outline-dark" th:value="#{readonly.back}"/>
        </form>
    </div>
</th:block>

<th:block th:fragment="adminButtons">
    <div class="row mb-3" th:if="${admin}">
        <div class="col-auto">
            <form action="#" th:action="@{/metadata-validator/overview/admin}" method="get">
                <input type="submit" name="button" class="btn btn-outline-dark" th:value="#{submissionOverview}"/>
            </form>
        </div>
        <div class="col-auto">
            <form th:if="${submission.writeProtected}" action="#" th:action="@{/metadata-validator/submission-actions/reopenSubmission}"
                  method="post">
                <input type="hidden" name="identifier" th:value="${submission.identifier}">
                <input type="submit" name="button" class="btn btn-outline-dark" th:value="#{readonly.reopenSubmission}"/>
            </form>
        </div>
        <div class="col-auto">
            <form th:if="${submission.active}" action="#" th:action="@{/metadata-validator/submission/simple/admin}" method="get">
                <input type="hidden" name="identifier" th:value="${submission.identifier}">
                <input type="hidden" name="backAndEdit" value="true">
                <input type="submit" name="button" class="btn btn-outline-dark" th:value="#{readonly.backAdmin}"/>
            </form>
        </div>
    </div>
</th:block>

<th:block th:fragment="fileButtons">
    <div class="container-fluid content" th:if="${submission.isFinished && admin}">
        <form action="#" method="post">
            <input type="hidden" name="identifier" th:value="${submission.identifier}">
            <input th:if="${submission.externalDataAvailableForMerging}"
                   th:formaction="@{/metadata-validator/submission-actions/retrigger-merging}"
                   type="submit" name="button" class="btn btn-outline-dark"
                   th:value="#{readonly.retriggerMerging}"/>

            <input th:formaction="@{/exporter/table}"
                   type="submit" name="button" class="btn btn-outline-dark"
                   th:value="#{readonly.retriggerFile}"/>
            <small class="text-danger">This will override an existing file!</small>
        </form>
    </div>
</th:block>
