<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: head">
    <title id="pageTitle">Add SeqType</title>
</head>
<head>
    <script src="/js/seqTypeChanges.js"></script>
    <script src="/js/importAliasesInputs.js"></script>
</head>

<body>
    <div th:replace="fragments/header :: header"></div>

    <div th:replace="fragments/pageMessages :: error"></div>
    <div th:replace="fragments/pageMessages :: success"></div>

    <div class="fs-body">
        <div class="row">

            <div class="col">
                <div class="card">
                    <div class="card-header fs-header" th:text="#{seqType.seqType}"></div>

                    <div class="card-body" style="text-align: left">
                        <span th:if="${errorSeqType}" th:text="${errorSeqType}" class="text-danger"></span>

                        <form action="/metadata-input/save-seq-type" method="post" id="seqTypeData">

                            <div class="form-group">
                                <label for="seqTypeName" th:text="#{seqType.name}"></label>
                                <input type="text" class="form-control" name="name" id="seqTypeName" required/>
                                <input type="text" class="form-control" name="seqTypeId" id="seqTypeId" hidden/>
                            </div>

                            <div class="form-group">
                                <label for="basicSeqType" th:text="#{seqType.basicSeqType}"></label>
                                <select class="custom-select" name="basicSeqType" id="basicSeqType" required>
                                    <option disabled="disabled" selected="selected" th:text="#{select}"></option>
                                    <option th:each="basicSeqType : ${basicSeqTypes}"
                                            th:value="${basicSeqType}"
                                            th:text="${basicSeqType}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="ilseNames" th:text="#{seqType.ilseNames}"></label>
                                <select class="selectize-ilseNames"
                                        id="ilseNames"
                                        name="ilseNames"
                                        th:placeholder="#{typeIn}"
                                        th:attr="data-items=${seqType?.importAliases ?: 'empty'}"
                                        multiple>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="seqTypeOptions" th:text="#{seqType.additionalOptions}"></label>
                                <select class="selectize-seqTypeOptions"
                                        id="seqTypeOptions"
                                        name="seqTypeOptions"
                                        th:placeholder="#{typeIn}"
                                        multiple>
                                    <option th:each="option : ${seqTypeOptions}" th:value="${option}" th:text="${option}"/>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-primary" th:text="#{save}" id="submitSeqType"></button>
                            <a type="button" id="deleteSeqType" class="btn btn-outline-danger" href="#">
                                <i class="far fa-trash-can"></i> <span th:text="#{delete}"></span>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col mt-2">
        <h4 th:text="#{requestedValue.activeRequests}"></h4>

        <table th:id="requested-seq-types" class="table table-striped table-sm tblnavigate">
            <thead class="thead-blue">
            <tr>
                <th th:text="#{seqType.name}"></th>
                <th th:text="#{seqType.basicSeqType}"></th>
                <th th:text="#{seqType.seqTypeInfos}" class="not-sortable"></th>
                <th th:text="#{requestedValue.requester}"></th>
                <th th:text="#{requestedValue.originSubmission}"></th>
                <th th:text="#{requestedValue.usedInSubmissions}"></th>
                <th th:text="#{requestedValue.requestedDate}"></th>
                <th class="not-sortable"></th>
            </tr>
            </thead>
        </table>
    </div>

    <div class="col mb-5 mt-2">
        <table id="allSeqTypes-table" class="allSeqTypes-table table table-sm table-striped">
            <thead class="thead-blue">
                <tr style="text-align: center">
                    <th th:text="#{seqType.name}" style="text-align: left"></th>
                    <th th:text="#{seqType.ilseNames}" style="text-align: left"></th>
                    <th th:text="#{seqType.basicSeqType}"></th>
                    <th th:text="#{seqType.seqTypeInfos}" class="not-sortable"></th>
                    <th class="not-sortable"></th>
                </tr>
            </thead>
        </table>
    </div>

    <div th:replace="fragments/changeObjectLive :: requestedValuesModal"></div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
